---
- name: Get latest release of vuetorrent
  community.general.github_release:
    user: "WDaan"
    repo: "VueTorrent"
    action: latest_release
  register: latest_release

- name: Unzip vuetorrent
  ansible.builtin.unarchive:
    src: "https://github.com/WDaan/VueTorrent/releases/download/{{ latest_release.tag }}/vuetorrent.zip"
    dest: "{{ docker_dir }}/qbittorrent"
    creates: "{{ docker_dir }}/qbittorrent/vuetorrent"
    remote_src: true
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0755"

- name: Create qbittorrent container
  community.docker.docker_container:
    name: qbittorrent
    image: linuxserver/qbittorrent
    restart_policy: unless-stopped
    state: started
    networks:
      - name: homelab
    ports:
      - "6881:6881"
      - "6881:6881/udp"
    volumes:
      - "{{ docker_dir }}/qbittorrent/config:/config"
      - "{{ data_dir }}/torrents:/data/torrents"
      - "{{ docker_dir }}/qbittorrent/vuetorrent:/vuetorrent"
    env:
      PUID: "{{ puid }}"
      PGID: "{{ pgid }}"
      TZ: "{{ timezone }}"
    labels:
      traefik.enable: "true"
      traefik.http.routers.qbit.entrypoints: "http"
      traefik.http.routers.qbit.rule: "Host(`qbit.{{ domain }}`)"
      traefik.http.middlewares.qbit-https-redirect.redirectscheme.scheme: "https"
      traefik.http.routers.qbit.middlewares: "qbit-https-redirect"
      traefik.http.routers.qbit-secure.entrypoints: "https"
      traefik.http.routers.qbit-secure.rule: "Host(`qbit.{{ domain }}`)"
      traefik.http.routers.qbit-secure.tls: "true"
      traefik.http.routers.qbit-secure.service: "qbit"
      traefik.http.services.qbit.loadbalancer.server.port: "8080"
      traefik.docker.network: "homelab"
